TITLE="Scenario-title"
DESCRIPTION="Detailed description of the scenario"
SEVERITY=High/Medium/Low
THREAT_ID="mapping to Threat IDs defined in O-RAN WG11 Threat Model document"
DETECTION_METHODS="Mechanisms to detect the threat"
MITIGATION_METHODS="Mechanisms to mitigate the threat"
SI_FILE=sample-si.yaml
SIB_FILE=sample-si-binding.yaml
PRE_DEPLOYMENT_CONSIDERATIONS="Anything that can be done in CI/CD pipelines that can alleviate this threat"
REFERENCES="ref1, ref2"
